@import "../../styleSheets/variables.scss";

.main {
  max-width: 90%;
  margin: auto;
  padding-bottom: 30px;
  &__character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    &--button {
      background-color: $color-primary;
      padding: 10px 30px;
      text-decoration: none;
      color: $color-secondary;
      font-family: $font-primary;
      font-size: 20px;
      border-radius: 5px;
      &:hover {
        box-shadow: 1px 2px 15px 8px rgba(93, 236, 93, 0.9);
      }
    }
  }
}
.list {
  list-style: none;
}
